#:schema https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json

# Rose Pine themed version of the montys Oh-My-Posh theme
# Original: https://github.com/JanDeDobbeleer/oh-my-posh/blob/main/themes/montys.omp.json
# Colors adapted to Rose Pine palette

version = 3
final_space = true

# Primary prompt block with powerline segments
[[blocks]]
  type = 'prompt'
  alignment = 'left'

  # OS/Hostname segment
  [[blocks.segments]]
    type = "os"
    style = "diamond"
    leading_diamond = "\ue0b6"
    background = "#26233a"  # Rose Pine overlay
    foreground = "#31748f"  # Rose Pine pine (teal)
    template = "{{ .Icon }} {{ .HostName }} "

  # Path segment
  [[blocks.segments]]
    type = "path"
    style = "powerline"
    powerline_symbol = "\ue0b0"
    background = "#eb6f92"  # Rose Pine love (red/pink)
    foreground = "#ffffff"
    template = " <#191724>\uf07b \uea9c</> {{ .Path }} "

    [blocks.segments.properties]
      folder_icon = "\uf115"
      folder_separator_icon = "\\"
      home_icon = "\ueb06"
      style = "full"

  # Git segment
  [[blocks.segments]]
    type = "git"
    style = "powerline"
    powerline_symbol = "\ue0b0"
    background = "#ebbcba"  # Rose Pine rose (light rose)
    foreground = "#191724"  # Rose Pine base (dark text on light background)
    template = " \u279c ({{ .UpstreamIcon }}{{ .HEAD }}{{ if gt .StashCount 0 }} \ueb4b {{ .StashCount }}{{ end }}) "

    [blocks.segments.properties]
      branch_icon = " <#191724>\ue0a0 </>"
      fetch_status = false
      fetch_upstream_icon = true

  # Node.js segment
  [[blocks.segments]]
    type = "node"
    style = "powerline"
    powerline_symbol = "\ue0b0"
    background = "#31748f"  # Rose Pine pine (teal)
    foreground = "#e0def4"  # Rose Pine text
    template = " \ue718 {{ if .PackageManagerIcon }}{{ .PackageManagerIcon }} {{ end }}{{ .Full }} "

  # Execution time segment
  [[blocks.segments]]
    type = "executiontime"
    style = "powerline"
    powerline_symbol = "\ue0b0"
    background = "#c4a7e7"  # Rose Pine iris (purple)
    foreground = "#191724"  # Rose Pine base (dark text)
    template = " \ueba2 {{ .FormattedMs }} "

    [blocks.segments.properties]
      always_enabled = true

  # Time segment
  [[blocks.segments]]
    type = "time"
    style = "powerline"
    powerline_symbol = "\ue0b0"
    background = "#9ccfd8"  # Rose Pine foam (cyan)
    foreground = "#191724"  # Rose Pine base (dark text)
    template = " \uf017 {{ .CurrentDate | date .Format }} "

    [blocks.segments.properties]
      time_format = "3:04 PM"

  # Status segment (exit code)
  [[blocks.segments]]
    type = "status"
    style = "diamond"
    powerline_symbol = "\ue0b0"
    trailing_diamond = "\ue0b4"
    background = "#31748f"  # Rose Pine pine (default)
    background_templates = [
      "{{ if gt .Code 0 }}#eb6f92{{ end }}"  # Rose Pine love (error red)
    ]
    foreground = "#e0def4"  # Rose Pine text
    template = " {{ if gt .Code 0 }}\uf421{{ else }}\uf469{{ end }} "

    [blocks.segments.properties]
      always_enabled = true

# Secondary prompt block (new line)
[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  # Root indicator
  [[blocks.segments]]
    type = "root"
    style = "plain"
    foreground = "#eb6f92"  # Rose Pine love (red for root)
    template = "\ue3bf "

  # User info with custom styling
  [[blocks.segments]]
    type = "text"
    style = "plain"
    foreground = "#eb6f92"  # Rose Pine love (pink accent)
    template = " <#9ccfd8><b>\u26a1</b></><b>{{ .UserName }}</b> <#31748f>\u276f</><#9ccfd8>\u276f</>"
